:root {
    --black: #000000;
    --grey: #e2e0e0;
    --blue: #1d4ed8;
    --blue-dark: #1e3a8a;
    --blue-light: #dbeafe;
    --white: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 20px;
}
header {
    width: 100%;
    height: auto;
    position: relative;
}
.profile {
    display: flex;
    align-items: center;
}
.profile .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.profile h2 a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}
header .option-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}


.header_nav-bar-mobile {
    list-style: none;
    font-size: 16px;
    color: var(--white);
    background-color: var(--blue);
    position: relative;
    top: -130px;
    right: 80px;
    transition: 1.2s;
    width: 120px;
}
.div-hidden {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
}
.div-hidden:hover {
    width: auto;
}
.div-hidden:hover > .header_nav-bar-mobile {
    top: 0;
    left: 0;
}

.header_nav-bar-mobile li {
    padding: 8px 64px 8px 20px;
}
.header_nav-bar-mobile li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}
.header_nav-bar-mobile li a:hover {
    text-decoration: underline;
}
.profile .sobre-mi {
    font-weight: bold;
}
.header_nav-bar {
    display: none;
}
.header_me {
    font-size: 16px;
    line-height: 150%;
    margin: 16px 0 10px 0;
    font-weight: 400;
}
.header_time-zone {
    display: flex;
    margin-bottom: 12px;
}
.my-time {
    font-size: 12px;
    background-color: var(--blue-light);
    color: var(--blue-dark);
    padding: 4px 6px;
    border-radius: 15px;
    display: flex;
    max-width: 130px;
    margin-right: 12px;
}
.send-icon {
    height: 12px;
    margin: 2px 6px 0 2px;
}
.us-es {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 15px;
    border: 1px solid var(--blue);
    text-decoration: none;
    color: var(--black);
}
.header_social {
    display: flex;
}
.header_social a {
    width: auto;
    height: auto;
    display: flex;
    padding: 8px;
    margin-left: 12px;
}
.header_social a img {
    width: 24px;
    height: 24px;
}
.header_social .instagram-icon {
    margin: 0;
}

/*BODY*/
main {
    margin-top: 34px;
}
main h1 {
    font-size: 36px;
    margin-bottom: 26px;
}
main h3 {
    font-size: 20px;
    margin: 32px 0 12px;
}
main p {
    font-size: 16px;
    line-height: 150%;
}
main .skills {
    padding-left: 26px;
    font-size: 16px;
}
main .skills li::marker {
    color: var(--grey);
}
main .skills li {
    padding-left: 6px;
    margin: 6px 0;
}

@media (min-width: 640px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
        padding: 40px 20px;
    }

    /*Hidding the mobile nav-bar*/
    .header_nav-bar-mobile {
        display: none;
    }
    .div-hidden {
        display: none;
    }
    .div-hidden:hover {
        display: none;
    }
    .div-hidden:hover > .header_nav-bar-mobile {
        display: none;
    }

    .header_nav-bar {
        display: block;
        display: flex;
        margin-left: auto;
    }
    .header_nav-bar li {
        list-style: none;
        padding: 8px;
    }
    .header_nav-bar li a {
        text-decoration: none;
        color: var(--blue);
        font-size: 16px;
    }
    .time-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_time-zone {
        margin: 0;
    }
    .header_nav-bar li a:hover {
        text-decoration: underline;
    }

    main {
        max-width: 752px;
        margin: 0 auto;
        margin-top: 48px;
    }
    main h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }
    main h3 {
        font-size: 24px;
        margin: 32px 0 12px;
    }
    main p {
        font-size: 18px;
    }
    main .skills {
        font-size: 18px;
    }
}